@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders+Display:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&family=Young+Serif&display=swap');

:root{
    --Grayish-blue: hsl(237, 18%, 59%);
    --Soft-red: hsl(345, 95%, 68%);
    --White: hsl(0, 0%, 100%);
    --Dark-desaturated-blue: hsl(236, 21%, 26%);
    --Very-dark-blue: hsl(235, 16%, 14%);
    --Very-dark-mostly-black-blue: hsl(234, 17%, 12%);
}

body{
    font-family: 'Red Hat Text', 'Segoe UI';
    background-color: var(--Very-dark-mostly-black-blue);
    background-image: url(images/pattern-hills.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 97vh;
    color: white;
    text-align: center;
    position: relative;
    @media (max-width: 450px){
        background-size: auto;
        height: 115vh;

    }
}

.mainContainer{
    background-image: url(images/bg-stars.svg);
    height: 60vh;
    /* border: 1px solid; */
    z-index: 0;
    padding-top: 5rem;
}

h1{
    text-transform: uppercase;
}

.socials{
    position: absolute;
    top: 90%;
    left: 45%;
    /* border: 1px solid; */
    width: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:450px){
        top: 90%;
        left: 30%;
    }
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    @media (max-width: 450px){
        gap: 1.5rem;
    }
}

.timer p{
    font-size: 5rem;
    font-weight: 900;
    background-color: #2c2c44;
    padding: 1rem;
    height: 2rem;
    border-radius: .4rem;
    border-bottom-left-radius: -.4rem;
    position: relative;
    z-index: 11;
    color: var(--Soft-red);
    @media (max-width: 450px){
        font-size: 2.6rem;
        height: 1rem;
    }
}

.timer p::after{
    content: '';
    position: absolute;
    height: 3.5rem;
    width: 100%;
    background-color:var(--Dark-desaturated-blue);
    top: 4.2rem;
    left: 0;
    border-radius: .4rem;
    z-index: -1;
    @media (max-width: 450px){
        height: 2rem;
        top: 2.7rem;
        padding-bottom: 1rem;
    }
}